<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>LOGIN</h1>

<form action="/login" method="post">
    ID : <input name="username"><br/>
    PW : <input name="password" type="password"><br/>
    <input type="submit" />
    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me"/>
            <label class="form-check-label" for="rememberMe">로그인 상태를 유지</label>
        </div>
    </div>
</form>


</body>
</html>